<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- titulo de la pagina -->
        <h4 class="card-title">Contratos</h4>

        <!-- Primera Busqueda -->
        <app-buscador-basico 
        (buscadorOut)="mesajeBuscadorBasico($event)" 
        [listaBuscador]="lista">
      </app-buscador-basico>
        <!-- Primera Busqueda -->

             <!-- Agrego tablas -->
             <div class="row" *ngIf="visibleTable == true">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">      
                      <app-tabla ></app-tabla>
                  </div>
                  </div>
                  </div>
            </div>
            <!--final de tablas -->   
    
  

    <!--Crear y Editar Contrato -->
             <div class="row" *ngIf="visibleClient == true">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                        <!-- titulo de la pagina -->
                      <h4 class="card-title">Contratos</h4>
                        
                        <form class="form-horizontal p-t-20">
                            
                          <!-- Id Contrato ERP: -->
                          <div class="form-group row">
                                <label for="exampleInputuname3" class="col-sm-3 control-label">Id Contrato ERP:</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="ti-arrow-right"></i></div>
                                        <input type="text" class="form-control" id="exampleInputuname3" placeholder="Id de COntrato">
                                    </div>
                                </div>
                          </div>
                          
                          <!-- Nombre -->
                          <div class="form-group row">
                              <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                              <div class="col-sm-9">
                                  <div class="input-group">
                                      <div class="input-group-addon"><i class="ti-arrow-right"></i></div>
                                      <input type="text" class="form-control" id="exampleInputuname3" placeholder="Ingrese Nopmbre">
                                  </div>
                              </div>
                          </div>
                        <!-- Fecha Inicio -->
                          <div class="form-group row">
                            <label for="exampleInputuname3" class="col-sm-3 control-label">Fecha Inicio</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-arrow-right"></i></div>
                                    <input type="date" class="form-control" placeholder="dd/mm/yyyy">                                    
                                </div>
                            </div>
                          </div>
                      
                        <!-- Fecha Termino -->
                          <div class="form-group row">
                          <label for="exampleInputuname3" class="col-sm-3 control-label">Fecha Termino</label>
                          <div class="col-sm-9">
                              <div class="input-group">
                                  <div class="input-group-addon"><i class="ti-arrow-right"></i></div>
                                  <input type="date" class="form-control" placeholder="dd/mm/yyyy">   
                              </div>
                          </div>
                          </div>
                    
                      <!-- Administrador -->
                        <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Administrador</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-arrow-right"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3" placeholder="Administrador">
                            </div>
                        </div>
                        </div>
                      <!-- Gerente -->
                      <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Gerente</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-arrow-right"></i></div>
                                <input type="text" class="form-control" id="exampleInputuname3" placeholder="Gerente">
                            </div>
                        </div>
                      </div>
                      <!-- Descripcion -->
                      <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Descripcion</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-arrow-right"></i></div>
                                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Descripcion">
                            </div>
                        </div>
                    </div>
                    
                     <!-- Estado -->
              <div class="form-group row" *ngIf="visibleStatusClient == true">
                <label for="inputPassword4" class="col-sm-3 control-label">Estado</label>
                <div class="col-sm-9">                                
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-marker"></i></div>
                    <select class="select form-control custom-select" style="width: 100%; height:36px;" tabindex="-1" aria-hidden="true">
                        <option>Seleccionar Area de Negocio</option>                                                                                                                                                                                                            
                            <option value="VA">Activo</option>
                            <option value="WV">Inactivo</option>                                            
                    </select> 
                  </div>
                </div>
              </div>
               <!-- Estado -->
            
                  <!-- Botones -->
                      <div class="form-group ">
                          <div class="offset-sm-12 col-sm-12">
                              <button type="submit" class="btn btn-outline-danger m-l-10 waves-effect waves-light">Cancelar</button>
                              <button type="submit" class="btn btn-outline-success m-l-10 waves-effect waves-light">Guardar</button>
                          </div>
                      </div>
                                                  
                  </form>
                </div>  
              </div>
            </div>
          </div>                           
    <!-- Editar COntrato  -->
   
        <!-- finalizan la card central-->
      </div>
    </div>
  </div>

 


