      
        <!-- Column -->
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">          
            <div class="tablesaw-bar mode-swipe">
              <div class="tablesaw-advance">
                <a
                  href="#"
                  class="tablesaw-nav-btn btn btn-micro left disabled"
                  title="Previous Column"
                ></a
                ><a
                  href="#"
                  class="tablesaw-nav-btn btn btn-micro right"
                  title="Next Column"
                ></a>
              </div>
            </div>
            <table
              class="tablesaw table-bordered table-hover table tablesaw-swipe"
              data-tablesaw-mode="swipe"
              id="table-652"
              style=""
            >
              <thead>
                <tr>
                  <th
                    scope="col"
                    data-tablesaw-sortable-col=""
                    data-tablesaw-priority="persist"
                    class="tablesaw-cell-persist"
                  >
                    Movie Title
                  </th>
                  <th
                    scope="col"
                    data-tablesaw-sortable-col=""
                    data-tablesaw-sortable-default-col=""
                    data-tablesaw-priority="3"
                  >
                    Rank
                  </th>
                  <th
                    scope="col"
                    data-tablesaw-sortable-col=""
                    data-tablesaw-priority="2"
                    class="tablesaw-cell"
                  >
                    Year
                  </th>
                  <th
                    scope="col"
                    data-tablesaw-sortable-col=""
                    data-tablesaw-priority="2"
                    class="tablesaw-cell"
                  >
                    <abbr title="Rotten Tomato Rating">Rating</abbr>
                  </th>
                  <th
                    scope="col"
                    data-tablesaw-sortable-col=""
                    data-tablesaw-priority="4"
                    class="tablesaw-cell">
                    Gross
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="title tablesaw-cell-persist">
                    <a class="link" href="javascript:void(0)">Avatar</a>
                  </td>
                  <td>1</td>
                  <td class="tablesaw-cell">2009</td>
                  <td class="tablesaw-cell">83%</td>
                  <td class="tablesaw-cell">$2.7B</td>
                </tr>
                <tr>
                  <td class="title tablesaw-cell-persist">
                    <a class="link" href="javascript:void(0)">Titanic</a>
                  </td>
                  <td>2</td>
                  <td class="tablesaw-cell">2009</td>
                  <td class="tablesaw-cell">83%</td>
                  <td class="tablesaw-cell">$2.7B</td>
                </tr>
                <tr>
                  <td class="title tablesaw-cell-persist">
                    <a class="link" href="javascript:void(0)">The Avengers</a>
                  </td>
                  <td>3</td>
                  <td class="tablesaw-cell">2009</td>
                  <td class="tablesaw-cell">83%</td>
                  <td class="tablesaw-cell">$2.7B</td>
                </tr>
                <tr>
                  <td class="title tablesaw-cell-persist">
                    <a class="link" href="javascript:void(0)"
                      >Harry Potter and the Deathly Hallows—Part 2</a
                    >
                  </td>
                  <td>4</td>
                  <td class="tablesaw-cell">2009</td>
                  <td class="tablesaw-cell">83%</td>
                  <td class="tablesaw-cell">$2.7B</td>
                </tr>
                <tr>
                  <td class="title tablesaw-cell-persist">
                    <a class="link" href="javascript:void(0)">Frozen</a>
                  </td>
                  <td>5</td>
                  <td class="tablesaw-cell">2009</td>
                  <td class="tablesaw-cell">83%</td>
                  <td class="tablesaw-cell">$2.7B</td>
                </tr>
                <tr>
                  <td class="title tablesaw-cell-persist">Iron Man 3</td>
                  <td>6</td>
                  <td class="tablesaw-cell">2009</td>
                  <td class="tablesaw-cell">83%</td>                  
                  <td class="tablesaw-cell"><a class="link" href="javascript:void(0)">Editar</a></td>
                </tr>
                <!-- <tr>
                  <td class="title tablesaw-cell-persist">
                    <a class="link" href="javascript:void(0)"
                      >Transformers: Dark of the Moon</a
                    >
                  </td>
                  <td>7</td>
                  <td class="tablesaw-cell-hidden">2011</td>
                  <td class="tablesaw-cell-hidden">36%</td>
                  <td class="tablesaw-cell-hidden">$1.1B</td>
                </tr> -->
              
               
              
              </tbody>
            </table>
              </div>
              </div>
              </div>
            </div>
  

<!-- slimscrollbar scrollbar JavaScript -->
<script src="js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="js/waves.js"></script>
<!--Menu sidebar -->
<script src="js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="../assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="../assets/plugins/sparkline/jquery.sparkline.min.js"></script>
<!--Custom JavaScript -->
<script src="js/custom.min.js"></script>
<!-- jQuery peity -->
<script src="../assets/plugins/tablesaw-master/dist/tablesaw.js"></script>
<script src="../assets/plugins/tablesaw-master/dist/tablesaw-init.js"></script>
<!-- ============================================================== -->
<!-- Style switcher -->
<!-- ============================================================== -->
<script src="../assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
