<div class="row ml-2 mr-5">
  <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th scope="col" *ngFor="let titulo of titulos">
                  {{titulo}}
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let fila of filas">
              <td *ngFor="let key of objectKeys(fila)" [ngSwitch]="key">
                  <a *ngSwitchCase="iconoKey" href="" ><span [ngClass]="icono"></span></a>
                  <button *ngSwitchCase="enlaceKey" class="botonSinEstilo colorLink" (click)="detalle(fila[key])" >{{enlace}}</button>
                  <a *ngSwitchDefault >{{fila[key]}}</a>

                  <!-- <a *ngSwitchCase="1" href="" >{{fila[key]}}</a> -->

                  <!-- <a *ngIf="key == iconoKey; else comun" href="" ><span class="glyphicon glyphicon-envelope"></span></a> -->
                  <!-- <a *ngIf="key == enlaceKey; else comun" href="" >{{enlace}}</span></a> -->
                  <!-- <a *ngIf="key != enlace" >{{fila[key]}}</a> -->
                  <!-- <a *ngIf="fila[key] == 1" href="">{{fila[key]}}</a> -->
                  <!-- <p *ngIf="fila[key] != 1" >{{fila[key]}}</p> -->
                  <!-- <ng-template #comun>
                      <p>
                          {{fila[key]}}
                      </p>
                    </ng-template> -->
              </td>
          </tr>
      </tbody>
  </table>
</div>