<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          
          <div class="container">                                    
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Rut</th>
                  <th>Nombre</th>
                  <th>Razon Social</th>
                  <th>Sigla</th>
                  <th>Accion</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>77.123.456-7</td>
                  <td>DAMY COMPANY</td>
                  <td>DAMY S.A.</td>
                  <td>DMC</td>
                  <td><link rel="stylesheet" href="">Edit </td>
                </tr>
                <tr>
                  <td>77.123.456-7</td>
                  <td>DAMY COMPANY 2</td>
                  <td>DAMY S.A.</td>
                  <td>DMC</td>
                  <td><link rel="stylesheet" href="">Edit </td>
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>