<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- titulo de la pagina -->
        <h4 class="card-title">Clientes</h4>        
        <!-- Primera Busqueda -->
        <app-buscador-basico 
        (buscadorOut)="mesajeBuscadorBasico($event)" 
        [listaBuscador]="lista">
      </app-buscador-basico>
        <!-- Primera Busqueda -->
        

         <!-- Agrego tablas -->
    <div class="row" *ngIf="visibleTable == true">
      <div class="col-12">
        <div class="card">
          <div class="card-body">      
              <app-tabla ></app-tabla>
          </div>
          </div>
          </div>
    </div>
    <!--final de tablas -->  
    
     <!--crear y editar cliente -->
     <div class="row" *ngIf="visibleClient == true" >
      <div class="col-12">
        <div class="card">
          <div class="card-body">                                              
               
              <form class="form-horizontal p-t-20">
                <!-- rut -->
                  <div class="form-group row">
                      <label for="exampleInputuname3" class="col-sm-3 control-label">RUT / RUN</label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-arrow-right"></i></div>
                              <input type="text" class="form-control" id="exampleInputuname3" placeholder="11.111.111-1">
                          </div>
                      </div>
                  </div>
                  <!-- nombre -->
                  <div class="form-group row">
                      <label for="exampleInputEmail3" class="col-sm-3 control-label">Nombre</label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-marker"></i></div>
                              <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Modificar Nombre">
                          </div>
                      </div>
                  </div>
                  <!-- razon social -->
                  <div class="form-group row">
                      <label for="web" class="col-sm-3 control-label">Razon Social</label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-marker"></i></div>
                              <input type="text" class="form-control" id="web" placeholder="Modificar Razon Social">
                          </div>
                      </div>
                  </div>
                  <!-- Sigla -->
                  <div class="form-group row">
                      <label for="inputPassword4" class="col-sm-3 control-label">Sigla</label>
                      <div class="col-sm-9">
                          <div class="input-group">
                              <div class="input-group-addon"><i class="ti-marker"></i></div>
                              <input type="text" class="form-control" id="exampleInputpwd4" placeholder="Modificar Sigla">
                          </div>
                      </div>
                  </div>               
              <!-- Estado -->
              <div class="form-group row" *ngIf="visibleStatusClient == true">
                <label for="inputPassword4" class="col-sm-3 control-label">Estado</label>
                <div class="col-sm-9">                                
                  <div class="input-group">
                    <div class="input-group-addon"><i class="ti-marker"></i></div>
                    <select class="select form-control custom-select" style="width: 100%; height:36px;" tabindex="-1" aria-hidden="true">
                        <option>Seleccionar Area de Negocio</option>                                                                                                                                                                                                            
                            <option value="VA">Activo</option>
                            <option value="WV">Inactivo</option>                                            
                    </select> 
                  </div>
                </div>
              </div>

              <!-- Botones -->
                  <div class="form-group ">
                      <div class="offset-sm-12 col-sm-12">
                          <button type="submit" class="btn btn-outline-danger m-l-10 waves-effect waves-light">Cancelar</button>
                          <button type="submit" class="btn btn-outline-success m-l-10 waves-effect waves-light">Guardar</button>
                      </div>
                  </div>
              </form>
          </div>                            
        </div>
      </div>
    </div>                     
<!--fin editar cliente -->


   
      </div>
    </div>
  </div>

 